body {
  background-color: rgba(239, 237, 245, 0.5);
}
.search-img {
  margin: 0 auto;
  text-align: center;
  background-color: teal;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .search-form {
    padding: 10px 10px;
  }
}

.gallery {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.photo-card {
  text-align: center;
  border-radius: 5px;
  box-shadow: rgb(190, 178, 216, 0.9) 0px 1px 4px;
  overflow: hidden;

  &__cover {
    height: 300px;
    overflow: hidden;
  }

  &__img {
    // display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 10px;

  &-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    color: #684f9f;
  }
}

.btn-wrapper {
  text-align: center;
}

.load-more {
  padding: 15px;
  border: 2px solid #beb2d8;
  border-radius: 4px;
  color: #684f9f;
  background-color: #fff;
  cursor: pointer;
}

.load-more.is-hidden {
  display: none;
}
