.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
  input {
    padding: 15px;
    border: 2px solid #beb2d8;
    border-radius: 4px;
    color: #684f9f;
    background-color: #ffffff;
  }
  input::placeholder {
    color: #684f9f;
  }
  .button {
    padding: 15px;
    border: 2px solid #beb2d8;
    border-radius: 4px;
    color: #684f9f;
    cursor: pointer;
    background-color: #ffffff;
  }
}
